## gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

#minecraft
usernamecache.json
options.txt
/saves
/config
/mods
/resourcepacks
/screenshoots
/logs
/crash-reports
